:root {
  --hue: 200;

  --clr-dice: hsl(var(--hue), 80%, 65%);
  --clr-floor: hsl(var(--hue), 60%, 50%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0;
  background-color: black;
  min-height: 100vh;
  overflow: hidden;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 10vmin;
  perspective: 10em;
  perspective-origin: 50% -2em;
}
.scene {
  position: relatives;
  transform-style: preserve-3d;
}

.floor {
  position: absolute;
  width: 15em;
  aspect-ratio: 1/1;
  background-color: var(--clr-floor);
  background-image: radial-gradient(
    circle at center,
    transparent 10%,
    #000 80%
  );

  opacity: 0.7;
  top: 1em;
  transform: translate(-50%, -50%) rotateX(90deg);
}

.die {
  position: absolute;
  width: 2em;
  top: -2.5em;
  aspect-ratio: 1/1;
  transform-style: preserve-3d;
  /* transition: all 500ms linear; */
}

.die-1 {
  left: -3em;
}

.die-2 {
  left: 1em;
  animation-delay: 200ms;
}

.die-1-up {
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}

.die-2-up {
  transform: rotatex(-90deg) rotateZ(135deg) rotateY(135deg);
}

.die-3-up {
  transform: rotatex(90deg) rotateZ(45deg) rotateY(45deg);
}

.die-4-up {
  transform: rotatex(-90deg) rotateZ(135deg) rotateY(45deg);
}

.die-5-up {
  transform: rotatex(90deg) rotateZ(45deg) rotateY(135deg);
}

.die-6-up {
  transform: rotateX(90deg) rotateY(90deg) rotateZ(90deg);
}

.side {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  place-items: center;
  background-color: var(--clr-dice);
  background-image: radial-gradient(circle at center, transparent, #0007);
  color: hsl(var(--hue), 60%, 30%);
  /* display: none; */
}

.side1 {
  transform: rotateX(90deg) rotateZ(45deg) translateZ(1em);
}

.side2 {
  transform: rotateY(45deg) translateZ(1em);
}

.side3 {
  transform: rotateY(-45deg) translateZ(1em);
}

.side4 {
  transform: rotateY(-225deg) translateZ(1em);
}

.side5 {
  transform: rotateY(225deg) translateZ(1em);
}

.side6 {
  transform: rotateX(-90deg) rotateZ(-45deg) translateZ(1em);
}

.active-side {
  text-shadow: 0 0 0.2em white, 0 0 0.5em white, 0 0 0.5em white;
  color: white;
}

.die-roll1 {
  animation: dieroll1 10s ease-out forwards;
}

.die-roll2 {
  animation: dieroll2 10s ease-out forwards;
}

.die-roll3 {
  animation: dieroll3 10s ease-out forwards;
}

.die-roll4 {
  animation: dieroll4 10s ease-out forwards;
}

.die-roll5 {
  animation: dieroll5 10s ease-out forwards;
}

.die-roll6 {
  animation: dieroll6 10s ease-out forwards;
}

@keyframes dieroll1 {
  100% {
    transform: rotateX(-3600deg);
  }
}

@keyframes dieroll2 {
  100% {
    transform: rotatex(-3690deg) rotateZ(135deg) rotateY(135deg);
  }
}
@keyframes dieroll3 {
  100% {
    transform: rotateX(-3510deg) rotateZ(45deg) rotateY(45deg);
  }
}

@keyframes dieroll4 {
  100% {
    transform: rotateX(-3690deg) rotateZ(135deg) rotateY(45deg);
  }
}

@keyframes dieroll5 {
  100% {
    transform: rotateX(-3510deg) rotateZ(45deg) rotateY(135deg);
  }
}

@keyframes dieroll6 {
  100% {
    transform: rotateX(-3510deg) rotateY(90deg) rotateZ(90deg);
  }
}

.main-footer {
  position: fixed;
  width: 100vw;
  bottom: 0;
  min-height: 5em;
  background-color: var(--clr-floor);
  padding: 1em 1em 3em;
  display: grid;
  place-items: centers;
  gap: 1em;
  border-top: solid 0.5em hsl(var(--hue), 60%, 25%);
}

.main-footer p {
  text-align: center;
  margin: 0;
  color: white;
}

.btn {
  padding: 0.5em 1em;
  cursor: pointer;
  background-color: #0006;
  color: var(--clr-dice);
  border: none;
  outline: 2px solid;
  font-weight: 600;
}

.btn:hover,
.btn:focus {
  outline: 4px solid;
}

.btn--disabled {
  color: hsl(var(--hue), 20%, 60%);
  background-color: hsl(var(--hue), 20%, 40%);
}

.btn--disabled:hover,
.btn--disabled:focus {
  cursor: unset;
  outline: 2px solid;
}
